@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bitcoin Project</h1>
    <p class="lead">Testing different methods of payment.</p>
    <a href="https://asp.net" class="btn btn-primary btn-lg">Test BitPay</a>
    <a href="/Home/perfectmoney" class="btn btn-primary btn-lg">Test PerfectMoney</a>
    <a href="/Home/Payeer" class="btn btn-primary btn-lg">Test Payeer</a>
</div>